app = "planpal-worker"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile.worker"

[env]
  DJANGO_SETTINGS_MODULE = "planpalapp.settings"

[experimental]
  auto_rollback = true

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
